.main{
   height: 50%;
   margin: auto;
   width: 100%;
 

}
.bgImage
{
  

    height: 100%;
    background-size: cover;
    background-position: center;
    animation-duration: 500s;
    background-repeat: no-repeat;

}