@import 'https://fonts.googleapis.com/css?family=Ubuntu';

.box-menu{
	position: absolute;
	left: 1440px;
	top: 50px;
	cursor: pointer;
	background: #fff;
	width: 50px;
	height: 250px;
	margin-top: 150px;
	border-radius: 60px;
	/* box-shadow: 5px 5px 5px rgba(0, 0, 0, .3); */
}
.menu-item {
	margin-left: 0px;
	background: #ededed;
	border-radius: 60px;
	position: relative;
	left: 120px;
}

.menu-item li{
	padding: 1rem;
}